<!-- <div class="col-md-12" id="election-container">
 -->
<div class="row">
	<div class="col-md-12">
  	<div class="col-md-4" id="president-profile">
 			<h2>Bernie Sanders</h2>
 			<img class="cand-pics" src="https://upload.wikimedia.org/wikipedia/commons/d/de/Bernie_Sanders.jpg">
 			 	<input id="checkSlave" type="checkbox" ng-checked="master" aria-label="Slave input"></input>
		</div>
		<div class="col-md-4" id="president-profile">
			<h2>Deez Nuts</h2>
			<img class="cand-pics" src="http://media2.newsnet5.com/photo/2015/08/20/16x9/Deez_Nuts_rising_in_Presidential_polls_3321310000_22990035_ver1.0_640_480.jpg">
			  <input id="checkSlave" type="checkbox" ng-checked="master" aria-label="Slave input"></input>
		</div>
		<div class="col-md-4" id="president-profile">
			<h2>Donald Trump</h2>	
			<img class="cand-pics" src="http://images.dailykos.com/images/150358/large/RTX1GZCO.jpg?1435250433">
				<input id="checkSlave" type="checkbox" ng-checked="master" aria-label="Slave input"></input>
		</div>
	</div>
</div>

<div class="row ">
	<div class="col-md-12">
		<div class="col-md-4" id="president-profile">
			<h2>Hillary Clinton</h2>	
			<img class="cand-pics" src="http://a4.files.biography.com/image/upload/c_fill,cs_srgb,dpr_1.0,g_face,h_300,q_80,w_300/MTE4MDAzNDEwMDU4NTc3NDIy.jpg">
			  <input id="checkSlave" type="checkbox" ng-checked="master" aria-label="Slave input"></input>
		</div>
		<div class="col-md-4" id="president-profile">
			<h2>Jill Stein</h2>	
			<img class="cand-pics" src="https://upload.wikimedia.org/wikipedia/commons/d/df/Jill_Stein_2012.jpg">
				<input id="checkSlave" type="checkbox" ng-checked="master" aria-label="Slave input"></input>
		</div>
		<div class="col-md-4" id="president-profile">
		<a ng-href="/#/results" id="vote">VOTE</a>
		</div>
	</div>

<!-- </div> -->
